<div class="post">
  <div class="title">
    <h2>{{ page.title }}</h2>
  </div><!-- END title -->
			
  <div class="entry">
    {{ content }}
    <div class="clear"></div>
  </div><!-- END entry -->
  
  <p class="postmetadata">
  </p>
        
  <!-- Duoshuo Comment BEGIN -->
    <div class="ds-thread"></div>
    <script type="text/javascript">
    var duoshuoQuery = {short_name:"{{site:duoshuoShortname}}"};
    (function() {
        var ds = document.createElement('script');
        ds.type = 'text/javascript';ds.async = true;
        ds.src = 'http://static.duoshuo.com/embed.js';
        ds.charset = 'UTF-8';
        (document.getElementsByTagName('head')[0] 
        || document.getElementsByTagName('body')[0]).appendChild(ds);
    })();
    </script>
<!-- Duoshuo Comment END -->
  {% include comments.md %}

</div><!-- END post -->
